{% extends "base.html" %}
{% block content %}

<section class="loginform cf">
    <form name="login" action="index_submit" method="post" accept-char="utf-8">
        <ul>
            <li><label for="usermail">Email</label>
                <input type = "email" name="usermail" placeholder="your_email@example.com" required>
            </li>
            <li><label for="password">Password</label>
                <input type="password" name="password" placeholder="password" required>
            </li>
            <li>
                <input type="submit" value="Login">
            </li>
        </ul>
    </form>
</section>
{% endblock content %}